# ====== ML FLOW ======
MLFLOW_BUCKET_NAME=mlflow

AWS_ACCESS_KEY_ID=<YOUR_AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<YOUR_AWS_SECRET_ACCESS_KEY>
AWS_DEFAULT_REGION=<YOUR_AWS_DEFAULT_REGION>
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_REGISTRY_URI=http://localhost:5000
MLFLOW_TRACKING_USERNAME=<YOUR_MLFLOW_TRACKING_USERNAME>
MLFLOW_TRACKING_PASSWORD=<YOUR_MLFLOW_TRACKING_PASSWORD>
MLFLOW_EXPERIMENT_NAME=DiT  
S3_ENDPOINT_URL=<YOUR_S3_ENDPOINT_URL>
MLFLOW_S3_ENDPOINT_URL=<YOUR_MLFLOW_S3_ENDPOINT_URL>

# ====== MODEL INPUT PARAMS ======
DATASET_DOWNLOAD_DIR=<YOUR_DATASET_DOWNLOAD_DIR>
DATASETS_FOLDER=<YOUR_DATASETS_FOLDER>
NUM_ATTENTION_HEADS=8
NUM_TRANSFORMER_BLOCKS=4
TRAIN_NUM_EPOCHS=30
MODEL_ARCHITECTURE="dit_v2"
TRAIN_BATCH_SIZE=16
MLFLOW_DATASET_RUN_IDS="<YOUR_MLFLOW_DATASET_RUN_IDS>"

